<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">  <!-- 공통 양식으로 만들었던 layout 호출 -->

<head>
  <style>
    .content {
      justify-content: center;
      text-align: center;
      text-align: -webkit-center;
    }
    .textinput {
      border : black solid 1px;
      border-radius: 7px;
      width: 300px;
      height: 35px;
    }

    .textlabel {
      font-size: 15px;
      font-weight: bold;
    }

    .register {
      height: 70px;
    }

    .btnbtn {
      background: gray;
      color: white;
      font-size: 12px;
    }

    .addrtext {
      border-radius: 7px; border: solid black 1px; height: 30px; width: 120px; font-size: 15px
    }

    .addrtext2 {
      border-radius: 7px; border: solid black 1px; height: 30px; width: 300px; font-size: 15px
    }

  </style>
</head>

<div layout:fragment="content">
  <form action="/epInsert" method="post" >
    <table width="800">
      <tr height="40">
        <td align="center" style="font-size: 30px;"><b>기업 회원 가입</b></td>
      </tr>
      <tr>
        <td align="right" style="color: gray"><b>* 필수 입력 사항</b></td>
      </tr>
    </table>
    <table width="700" height="600" cellpadding="0" style="border-collapse:collapse; font-size:9pt; margin-left: 120px">
      <tr class="register" height="30">
        <td width="5%" align="right" style="padding: 0 3px; font-size: 20px">*</td>
        <td class="textlabel" width="15%">Email</td>
<!--        oninput은 클릭할때 마다 함수를 실행하는 속성-->
        <td><input class="textinput"  oninput="emailCheckReset()" type="text" name="email" id="email" placeholder=" user@example.com" required/>&nbsp;
<!--          <a><button id="epIdCheck" class="btn btn-primary" onclick="confirmId(event)">중복확인</button></a></td>-->
          <input type="button" id="btnCheck" class="btn btn-secondary btnbtn" value="중복체크"/>
          <span id="result"></span>
      </tr>
      <tr class="register" height="30">
        <td width="5%" align="right" style="padding: 0 3px; font-size: 20px">*</td>
        <td class="textlabel" width="15%">비밀번호</td>
        <td><input class="textinput"  type="password" name="password" id="pw" required/></td>
      </tr>

      <tr class="register" height="30">
        <td width="5%" align="right" style="padding: 0 3px; font-size: 20px">*</td>
        <td class="textlabel" width="15%">비밀번호 확인</td>
        <td><input class="textinput" type="password" name="" id="pwCheck"/>&nbsp;&nbsp;<span
                id="same"></span></td>
      </tr>
      </tr>
      <tr class="register" height="30">
        <td width="5%" align="right" style="padding: 0 3px; font-size: 20px">*</td>
        <td class="textlabel" width="15%">기 업 명</td>
        <td><input class="textinput" type="text" name="name" required/></td>
      </tr>

      <tr class="register" height="30">
        <td width="5%" align="right" style="padding: 0 3px; font-size: 20px">*</td>
        <td class="textlabel" width="15%">사업자 번호</td>
        <td><input class="textinput"  type="text" name="bn_number"/></td>
      </tr>
      </tr>
      <tr class="register" height="30">
        <td width="5%" align="right" style="padding: 0 3px; font-size: 20px">*</td>
        <td class="textlabel" width="15%">대표 번호</td>
        <td><input class="textinput" type="tel" name="phone"/></td>
      </tr>
      <tr>
        <td width="5%" align="right" style="padding: 0 3px; font-size: 20px">*</td>
        <td class="textlabel" width="15%">회 사 주 소</td>
        <td>
          <input class="addrtext" type="text" size="10" name="addr" id="sample4_postcode" placeholder="    우편번호" readonly="readonly">

          <input type="button" class="btn btn-secondary btnbtn" onclick="window.open('/addrSearch' ,' _blank','width=569, height=553,top=300,left=600 '); return false;" value="우편번호 찾기">
          <br><br>
          <input class="addrtext2" type="text" size="30" name="wRoadAddress" id="sample4_roadAddress" placeholder="  도로명주소"
                 readonly="readonly">
          <br/><span id="guide" style="color:#999;font-size:10px;"></span>
          <br/><input class="addrtext2"  type="text" name="wRestAddress" placeholder="  나머지 주소" size="70"/>
        </td>
      </tr>

    </table>
    <table>
      <tr height="40">
        <td>
          <input type="hidden" name="role" value="ep"/>
          <!-- href 로 경로를 지정해줄때는 controller로 매핑시켜놓은것으로 적어준다-->
          <button style="width: 300px;" id="submitBtn" type="submit" class="btn btn-success" >가입완료</button>
        </td>
      </tr>
    </table>
  </form>
</div>
</html>
<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
<script language="javascript">
  function getAddr(){
    // 적용예 (api 호출 전에 검색어 체크)
    if (!checkSearchedWord(document.form.keyword)) {
      return ;
    }

    $.ajax({
      url :"https://business.juso.go.kr/addrlink/addrLinkApiJsonp.do"  //인터넷망
      ,type:"post"
      ,data:$("#form").serialize()
      ,dataType:"jsonp"
      ,crossDomain:true
      ,success:function(jsonStr){
        $("#list").html("");
        var errCode = jsonStr.results.common.errorCode;
        var errDesc = jsonStr.results.common.errorMessage;
        if(errCode != "0"){
          alert(errCode+"="+errDesc);
        }else{
          if(jsonStr != null){
            makeListJson(jsonStr);
          }
        }
      }
      ,error: function(xhr,status, error){
        alert("에러발생");
      }
    });
  }

  function makeListJson(jsonStr){
    var htmlStr = "";
    htmlStr += "<table>";
    $(jsonStr.results.juso).each(function(){
      htmlStr += "<tr>";
      htmlStr += "<td>"+this.roadAddr+"</td>";
      htmlStr += "<td>"+this.roadAddrPart1+"</td>";
      htmlStr += "<td>"+this.roadAddrPart2+"</td>";
      htmlStr += "<td>"+this.jibunAddr+"</td>";
      htmlStr += "<td>"+this.engAddr+"</td>";
      htmlStr += "<td>"+this.zipNo+"</td>";
      htmlStr += "<td>"+this.admCd+"</td>";
      htmlStr += "<td>"+this.rnMgtSn+"</td>";
      htmlStr += "<td>"+this.bdMgtSn+"</td>";
      htmlStr += "<td>"+this.detBdNmList+"</td>";
      /** API 서비스 제공항목 확대 (2017.02) **/
      htmlStr += "<td>"+this.bdNm+"</td>";
      htmlStr += "<td>"+this.bdKdcd+"</td>";
      htmlStr += "<td>"+this.siNm+"</td>";
      htmlStr += "<td>"+this.sggNm+"</td>";
      htmlStr += "<td>"+this.emdNm+"</td>";
      htmlStr += "<td>"+this.liNm+"</td>";
      htmlStr += "<td>"+this.rn+"</td>";
      htmlStr += "<td>"+this.udrtYn+"</td>";
      htmlStr += "<td>"+this.buldMnnm+"</td>";
      htmlStr += "<td>"+this.buldSlno+"</td>";
      htmlStr += "<td>"+this.mtYn+"</td>";
      htmlStr += "<td>"+this.lnbrMnnm+"</td>";
      htmlStr += "<td>"+this.lnbrSlno+"</td>";
      htmlStr += "<td>"+this.emdNo+"</td>";
      htmlStr += "</tr>";
    });
    htmlStr += "</table>";
    $("#list").html(htmlStr);
  }

  //특수문자, 특정문자열(sql예약어의 앞뒤공백포함) 제거
  function checkSearchedWord(obj){
    if(obj.value.length >0){
      //특수문자 제거
      var expText = /[%=><]/ ;
      if(expText.test(obj.value) == true){
        alert("특수문자를 입력 할수 없습니다.") ;
        obj.value = obj.value.split(expText).join("");
        return false;
      }

      //특정문자열(sql예약어의 앞뒤공백포함) 제거
      var sqlArray = new Array(
              //sql 예약어
              "OR", "SELECT", "INSERT", "DELETE", "UPDATE", "CREATE", "DROP", "EXEC",
              "UNION",  "FETCH", "DECLARE", "TRUNCATE"
      );

      var regex;
      for(var i=0; i<sqlArray.length; i++){
        regex = new RegExp( sqlArray[i] ,"gi") ;

        if (regex.test(obj.value) ) {
          alert("\"" + sqlArray[i]+"\"와(과) 같은 특정문자로 검색할 수 없습니다.");
          obj.value =obj.value.replace(regex, "");
          return false;
        }
      }
    }
    return true ;
  }

  function enterSearch() {
    var evt_code = (window.netscape) ? ev.which : event.keyCode;
    if (evt_code == 13) {
      event.keyCode = 0;
      getAddr(); //jsonp사용시 enter검색
    }
  }
</script>
<script>
  let idck = 0;

  function emailCheckReset() {
    idck = 0;
  }



  $('#btnCheck').click(function () {
    /*이메일 중복검사 할 이메일값 value값*/
     let email = $('#email').val();

      if ($('#email').val() != '') {
    let regEmail = /^([0-9a-zA-Z_\.-]+)@([0-9a-zA-Z_-]+)(\.[0-9a-zA-Z_-]+){1,2}$/;
    console.log('@@@')

      // 아이디를 서버로 전송 > DB 유효성 검사 > 결과 반환받기
      $.ajax({

        type: 'GET',
        url: '/idCheck',
        /*보낼 데이터 : {파라미터이름 : 실제 데이터값(=위의 이메일) } */
        data: {email : email},
        dataType: 'json',/*받는타입*/
        success: function(result) {
          if(!regEmail.test(email)){
            $('#result').text("이메일이 유효하지 않습니다.");}
          else{

          if (result == '0') {
            $('#result').text('사용 가능한 아이디입니다.');
            //아이디가 중복하지 않으면  idck = 1
            idck = 1;
          }else{
            $('#result').text('이미 사용중인 아이디입니다.');
          }
          }},

        error: function(a, b, c) {
          console.log(a, b, c);
        }
      });

    } else {
      alert('아이디를 입력하세요.');
      $('#email').focus();
    }

  });
   // 회원가입 버튼에 아이디를 맞춰줌
  $('#submitBtn').click(function () {
  if(confirm("회원가입을 하시겠습니까?")) {
    if (idck == 0) {
      alert('아이디 정보를 확인 해주세요');
      return false;
    } else if (idck==1) {
      alert("회원가입을 축하합니다");
      $("#submitBtn").submit();
    }else {
      alert("부적절한 접근입니다.");
      return false;
    }

    }
  });





</script>
