<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"/>
//      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<header class="p-3 text-bg-dark">
    <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
                <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"/></svg>
            </a>

            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                <li><a href="#" class="nav-link px-2 text-white">Home</a></li>
                <li><a href="#" class="nav-link px-2 text-white">구인</a></li>
                <li><a href="/memberJobHunting" class="nav-link px-2 text-white">구직</a></li>
                <li><a href="#" class="nav-link px-2 text-white">추가기능</a></li>
                <li><a href="#" class="nav-link px-2 text-white">고객지원</a></li>
            </ul>

            <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search">
                <input type="search" class="form-control form-control-dark text-bg-dark" placeholder="Search..." aria-label="Search">
            </form>

            <div class="text-end">
                <button type="button" class="btn btn-outline-light me-2" onclick="location.href='/login'">로그인</button>
                <button type="button" class="btn btn-warning" onclick="location.href='/insert'">회원가입</button>
            </div>
            <div class="text-end" th:if="${memberLogined}">
                <span>[[${memberLogined.name}]]님 환영합니다.</span> <!--바로 스트링으로 표현해줌, 타임리프 문법-->
                <button type="button" class="btn btn-outline-light me-2" onclick="location.href='/logout'">로그아웃</button>
                <button type="button" class="btn btn-warning" onclick="location.href='/myPage'">마이페이지</button>
            </div>
        </div>
    </div>
</header>
</html>

<!--<div th:fragment="header">-->
<!--    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">-->
<!--        <div class="container-fluid">-->
<!--            <a class="navbar-brand" href="/">heejae Shop</a>-->
<!--            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">-->
<!--                <span class="navbar-toggler-icon"></span>-->
<!--            </button>-->
<!--            <div class="collapse navbar-collapse" id="navbarSupportedContent">-->
<!--                <ul class="navbar-nav me-auto mb-2 mb-lg-0">-->
<!--                    <li class="nav-item" >//sec:authorize="hasAnyAuthority('ROLE_ADMIN')">-->
<!--                        <a class="nav-link active" aria-current="page" href="/admin/item/new">상품등록</a>-->
<!--                    </li>-->
<!--                    <li class="nav-item">// sec:authorize="hasAnyAuthority('ROLE_ADMIN')">-->
<!--                        <a class="nav-link active" aria-current="page" href="/admin/items">상품관리</a>-->
<!--                    </li>-->
<!--                    <li class="nav-item"> // sec:authorize="isAuthenticated()">-->
<!--                        <a class="nav-link active" aria-current="page" href="/cart">장바구니</a>-->
<!--                    </li>-->
<!--                    <li class="nav-item" > // sec:authorize="isAuthenticated()">-->
<!--                        <a class="nav-link active" aria-current="page" href="/orders">구매이력</a>-->
<!--                    </li>-->
<!--                    <li class="nav-item"> // sec:authorize="isAnonymous()">-->
<!--                        <a class="nav-link active" aria-current="page" href="/member/login">로그인</a>-->
<!--                    </li>-->
<!--                    <li class="nav-item"> // sec:authorize="isAuthenticated()">-->
<!--                        <a class="nav-link active" aria-current="page" href="/member/logout">로그아웃</a>-->
<!--                    </li>-->
<!--                </ul>-->
<!--                <form class="d-flex" role="search">-->
<!--                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">-->
<!--                    <button class="btn btn-outline-success" type="submit">Search</button>-->
<!--                </form>-->
<!--            </div>-->
<!--        </div>-->
<!--    </nav>-->
<!--</div>-->
<!--</html>-->