<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">

<div layout:fragment="content" style="text-align: center; width: 100%">
    <div style="display: flex; text-align: center">

        <div style="width: 600px" >
            <table class="table table-hover table-borderless w-100 p-3">
                <td style="float: right"><div th:text="더보기" onclick="location.href='epRecruit/epRecruitList'"></div></td>
                <tr th:each="ep,index : ${epList}" th:if="${index.index} < 5">
                    <td>
                        <a th:text="${ ep.getTitle() }" th:href="@{/epRecruit/epBoard(epBoard=${ep.getEpBoard()})}"/>
                    </td>
                </tr>
                </tr>
            </table>
        </div>

        <div style="width: 600px">
            <table class="table table-hover table-borderless w-100 p-3">
                <td style="float: right"><div th:text="더보기" onclick="location.href='/memberJobHuntingList'"></div></td>

                <tr th:each="MList,index : ${MList}" th:if="${index.index} < 5">

                <td>
                        <a th:text="${ MList.getTitle() }" th:href="@{/memberJobHuntingPoster(memberBoard=${MList.memberBoard})}"/>
                </td>
                </tr>
            </table>
        </div>
    </div>
    </div>
</div>
</html>

