<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">  <!-- 공통 양식으로 만들었던 layout 호출 -->

<div layout:fragment="content">
    <div class="container">
        <h1>구인 리스트</h1>
        <h2>제목, 기업, 스택, 주소 표기</h2>
        <div class="row row-cols-1 row-cols-md-3 g-4" >
            <div class="col" th:each="epList : ${epList}">
                <div class="card h-100">
                    <img src="..." class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">[[${ epList.getTitle() }]]</h5>
                        <p class="card-text" >[[${ epList.getStack() }]]</p>
                    </div>
                    <div class="card-footer">
<!--                        <small class="text-body-secondary">Last updated 3 mins ago</small>-->
                        <a th:href="@{/templates/epRecruit/epBoard( epBoard=${epList.getEpBoard()} )}" class="btn btn-primary">확인하기</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>


</html>