<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">  <!-- 공통 양식으로 만들었던 layout 호출 -->

<div layout:fragment="content">
    <div class="container">
        <div class="headTitle">
            <div class="h1">구인 리스트</div>
            <a th:if="${session.epLogin}" class="btn btn-primary" href="/epRecruit/epRecruitForm">구인 등록</a>

        </div>
        <div class="row row-cols-1 row-cols-md-3 g-4">
            <div class="col" th:each="ep : ${epList}">
                <div class="card h-100">
                    <div th:if="${ep.fileAttached} == 1" class="text-center">
                        <img class="rounded" th:src="@{/epRecruit/} + ${ep.getThumbnailFileName()}">
                    </div>
                    <!--          <img src="..." class="card-img-top" alt="...">-->
                    <div class="card-body">
                        <h5 class="card-title" th:text="${ ep.getTitle() }"></h5>
                        <!--            <h5 class="card-title">[[${ ep.getTitle() }]]</h5>-->
                        <p class="card-text" th:text="${ ep.getStack() }"></p>
                    </div>
                    <div class="card-footer">
                        <!--                        <small class="text-body-secondary">Last updated 3 mins ago</small>-->
                        <a th:href="@{/epRecruit/epBoard( epBoard=${ep.getEpBoard()} )}"
                           class="btn btn-primary stretched-link">확인하기</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="d-flex justify-content-center my-5" th:if="${!epList.isEmpty()}">
            <!-- 전역 변수 선언 -->
            <nav th:with="pageNumber = ${epList.pageable.pageNumber}, pageSize = ${epList.pageable.pageSize},totalPages = ${epList.totalPages},startPage = ${T(java.lang.Math).floor(pageNumber / 10) * 10 + 1},tempEndPage = ${startPage + 9 < epList.totalPages ? startPage + 9 : epList.totalPages },endPage = (${tempEndPage < totalPages ? tempEndPage : totalPages})"
                 aria-label="Page navigation">
                <ul class="pagination">
                    <!-- 처음으로 이동 -->
                    <li th:classappend="${epList.first} ? 'disabled'" class="page-item">
                        <a class="page-link" th:href="@{/epRecruit/epRecruitList(page=0)}">
                            <span>&laquo;</span>
<!--                            <span class="sr-only">맨앞</span>-->
                        </a>
                    </li>

                    <!-- 이전으로 이동 -->
                    <li th:classappend="${epList.first} ? 'disabled'" class="page-item">
                        <a class="page-link"
                           th:href="${epList.first} ? '#' : @{/epRecruit/epRecruitList(page=${pageNumber - 1})}"
                           aria-label="Previous">
                            <span aria-hidden="true">&lt;</span>
<!--                            <span class="sr-only">이전</span>-->
                        </a>
                    </li>

                    <!-- 특정 페이지로 이동 -->
                    <li th:each="page: ${#numbers.sequence(startPage, tempEndPage)}"
                        th:classappend="${page == pageNumber + 1} ? 'active'" class="page-item">
                        <a th:text="${page}" class="page-link"
                           th:href="@{/epRecruit/epRecruitList(page=${page - 1})}"></a>
                    </li>

                    <!-- 다음으로 이동 -->
                    <li th:classappend="${epList.last} ? 'disabled'" class="page-item">
                        <a class="page-link"
                           th:href="${epList.last} ? '#' : @{/epRecruit/epRecruitList(page=${pageNumber + 1})}"
                           aria-label="Next">
                            <span aria-hidden="true">&gt;</span>
<!--                            <span class="sr-only">다음</span>-->
                        </a>
                    </li>

                    <!-- 마지막으로 이동 -->
                    <li th:classappend=" ${epList.last} ? 'disabled'"
                        class="page-item">
                        <a class="page-link" th:href="@{/epRecruit/epRecruitList(page=${totalPages - 1})}">
                            <span>&raquo;</span>
<!--                            <span class="sr-only">맨뒤</span>-->
                        </a>
                    </li>
                </ul>
            </nav>
        </div>

    </div>

</div>


</html>