<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">  <!-- 공통 양식으로 만들었던 layout 호출 -->

<div layout:fragment="content">
    <div class="container">
        <h1 class="text-center">구인 게시글 등록 완료</h1>
        <hr>
        <a class="btn btn-secondary">홈화면으로 이동</a>
        <a class="btn btn-info" th:href="@{/epRecruit/epBoard( epBoard=${ epRecruitLastId } )}">게시글 확인하기</a>

    </div>


    <!-- 사용자 스크립트 추가 -->
    <th:block layout:fragment="script">
        <script th:inline="javascript">

        </script>
    </th:block>

</div>


</html>